:root {
    --backgroundGray: #f9fcff;
    --lighterGray: #e7eff7;
    --lightGray: #e2e9f0;
    --gray: #c9dae8;
    --darkGray: #727679;
  }

body {
    background-color: var(--backgroundGray);
    max-width: 600px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    padding: 0 18px;
    box-sizing: border-box;
    width: 100%;
}

.link {
    color: inherit;
    text-decoration: none;
}

.underlined {
    text-decoration: underline;
}

.link-spanner {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}   

#header {
    width: 100%;
    text-align: center;
    font-size: 64px;
    
}

#header-little {
    font-weight: 700;
}

#header-apps {
    font-weight: 400;
}

.app {
    color: inherit;
    text-decoration: none;
    background-color: var(--lightGray);
    position:relative;
    box-sizing: border-box;
    display: flex;
    margin: 16px 0;
    border: .1px solid var(--gray);
    border-radius: 1px;
}

.app-image {
    border-right: 1px solid var(--lightGray);
    height: 100px;
    border-radius: 1px 0 0 1px;
}

.app-title {
    margin: 8px 10px 0;
    font-weight: 600;
}

.app-description {
    margin: 4px 8px 0;
    font-weight: 300;
}

#footer {
    padding: 34px 0 34px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-link {
    display: inline-block;
    color: var(--darkGray);
    font-weight: 400;
    text-decoration: none;
    padding: 12px;
}

#privacy-policy {
    line-height: 150%;
    padding: 28px 0;
}

#about {
    line-height: 150%;
    padding: 28px 0;
}
